.actor {
  position: relative;
  width: 110px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 500;
  margin-top: 5px;
  text-align: center;
  white-space: normal;
  color: var(--theme-page-text);
}
