.itemBlock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;

  &__active {
    background-color: var(--theme-header-active-bg);

    .item {
      border-top: 2px solid var(--color-green);
    }
  }
}

.item {
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--theme-header-bg);
}

.icon {
  height: 24px;
  color: var(--theme-header-text);
  fill: currentColor;
}

.text {
  font-size: 12px;
  color: var(--theme-header-text);
}

.feed_span__bottom {
  color: red;
  font-weight: bold;
  font-size: 32px;
  position: absolute;
  top: -12px;
  right: 0;
}
