.genresContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -40px;
  justify-content: space-between;

  &::after {
    content: '';
    flex: auto;
  }

  @media (max-width: 540px) {
    margin: 0 -10px;
  }
}

.genre {
  margin: 0 40px 40px;

  @media (max-width: 540px) {
    margin: 0 10px 20px;
  }
}

.link {
  color: var(--color-green);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
