:root {
  --color-green: #2fc66f;
  --color-red: #ffb400;
  --color-blue: #85c1e9;
  --color-watch: #bb8fce;

  --theme-green-color: #27ae60;
}

.light {
  --theme-color: #a80000;
  --theme-page-bg: #fff;
  --theme-header-bg: #fff;
  --theme-page-text: #111;
  --theme-header-text: #000;
  --theme-icon-color: #000;
  --theme-grey-bg: #eee;
  --theme-grey-text: grey;
  --theme-footer-bg: #85c1e9;
  --theme-header-active-bg: rgba(0, 0, 0, 0.3);
}

.dark {
  --theme-color: #0000a8;
  --theme-page-bg: #100e19;
  --theme-header-bg: #1f1b2e;
  --theme-page-text: #fff;
  --theme-header-text: #fff;
  --theme-icon-color: #fff;
  --theme-grey-bg: #999;
  --theme-grey-text: #ccc;
  --theme-footer-bg: #1f1b2e;
  --theme-header-active-bg: #37304d;
}
