.watcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  @media (max-width: 540px) {
    display: block;
  }
}

.user {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

  &_info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
}

.name {
  font-weight: 500;
  color: var(--theme-page-text);
}

.movies {
  font-size: 14px;
  color: var(--theme-page-text);
}

.rating {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  color: var(--color-red);
}

.star {
  color: var(--color-red);
}

.no_watchers {
  font-size: 20px;
  font-style: italic;
  color: var(--theme-page-text);
}
