.container {
  position: relative;
  margin-bottom: 30px;
  background-color: var(--color-blue);
  border-radius: 10px;
  padding: 50px;
  overflow: hidden;

  @media (max-width: 540px) {
    padding: 20px;
  }
}

.title {
  font-size: 40px;
  color: #ffffff;
  position: relative;
  z-index: 3;
  text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);

  @media (max-width: 540px) {
    font-size: 24px;
  }
}

.list {
  list-style-type: none;
  color: #ffffff;

  &_item {
    font-size: 34px;
    padding-left: 10px;
    text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);
    position: relative;
    z-index: 3;

    @media (max-width: 540px) {
      font-size: 16px;
    }
  }
}

.friends_img {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 300px;
  z-index: 1;
}
